* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100%;
  height: 100vh;
}
.sinf_1 {
  width: 200px;
  height: 200px;
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font: 500 20px/1.2em Arial, sans-serif;
  z-index: 5;
}
.sinf_1::before {
  content: "Before";
  text-align: center;
  position: absolute;
  font-size: 2em;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background-color: red;
  z-index: -4;
  transition: all 1s;
}
.sinf_1::after {
  content: "After";
  text-align: center;
  position: absolute;
  font-size: 2em;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background-color: blue;
  z-index: -4;
  transition: all 1s;
}
.sinf_1:hover::before {
  animation: anim1 5s linear infinite;
}
.sinf_1:hover::after {
  animation: anim1 5s linear reverse infinite;
}
@keyframes anim1 {
  /* from {color:white;}
	to {color:black;}
	0% 100%{
		left: 0;
		top: 0;
	}
	25% {
		left: calc(100% - 200px);
		top: 0;
	}
	50% {
		left: calc(100% - 200px);
		top: calc(100% - 200px);
	}
	75% {
		left: 0;
		top: calc(100% - 200px);
	} */
}
