@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Iceland&family=Montserrat:wght@100&family=Open+Sans&family=Oswald:wght@200&family=Poppins:wght@200;400;900&family=Reem+Kufi+Fun:wght@500&family=Vampiro+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.helpbtn {
  width: 194px;
  height: 60px;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  border-radius: 71px;
  background-color: #fdba10;
  border: none;
}
.top_title4 {
  width: 1325px;
  text-align: center;
  position: relative;
}
.top_title4 h1 {
  font-size: 144px;
  font-weight: 800;
}
/*  */
/*  */
/*  */
/*  */
.bigbox {
  width: 100%;
  display: flex;
  justify-content: center;

  flex-direction: column;
  background: url("img/Mask\ Group\ \(5\).png");
}

/*  */
/*  */
/*  */
/*  */
/*  */
.top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top .big {
  width: 1903px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  position: relative;
}
.top::after {
  content: "";
  width: 1164px;
  height: 840px;
  position: absolute;
  right: -16px;
  bottom: -1px;
  background: url("img/Desktop\ -\ 1\ \(1\).png");
  background-position: center;
}
.top .container {
  width: 1214px;
  height: 639px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 241px 64px 0;
  background-color: #c98a40;
}
.top .container .left_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 125px;
}
.top .container .left_text .intex_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.top .container .left_text .intex_box .lorems {
  display: flex;
  flex-direction: column;
}
.top .container .left_text .intex_box .lorem h1 {
  color: #fff;
  font-size: 74px;
  font-weight: 700;
  text-transform: uppercase;
}
.top .container .left_text .intex_box .lorems p {
  width: 552px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.top .locboxs {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.top .locboxs .iconbox {
  width: 449px;
  height: 201px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 30px 37px 27px 0;
  position: relative;
}
.top .locboxs .iconbox a img {
  width: 24px;
  height: 24px;
  margin: 5px;
}
.top .locboxs .telbox {
  width: 765px;
  height: 201px;
  background-color: #c98a40;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  padding: 20px;
}
.top .locboxs .telbox a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700px;
}
.top .locboxs .telbox a p span {
  font-weight: 500;
  letter-spacing: 2.7px;
}
/*  */
/*  */
/*  */
/*  */
.bigbox .work {
  width: 100%;
  height: 840px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("img/Rectangle\ 274.png") no-repeat right;
}
.bigbox .work .container {
  height: 840px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 0 0 50px 0;
}
.bigbox .work .container .boxs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.bigbox .work .container .boxs .about_us {
  width: 1900px;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}
.bigbox .work .container .boxs .about_us p {
  width: 277px;
  font-size: 18px;
  font-weight: 600;
  color: #c98a40;
}
.bigbox .work .container .boxs .about_us h1 {
  color: #fff;
  font-size: 144px;
  font-weight: 800;
  text-align: right;
}
.bigbox .work .container .boxs .imgs {
  display: flex;
  gap: 20px;
}
/*  */
/*  */
/*  */
/*  */

.aboutus {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("img/Rectangle\ 274.png") no-repeat;
  position: relative;
}
.aboutus .container {
  width: 1903px;
  height: 840px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}
.aboutus .container .boxs {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.aboutus .container .boxs .about_us {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.aboutus .container .boxs .about_us h1 {
  color: #fff;
  font-size: 144px;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
}
.aboutus .container .boxs .about_us p {
  width: 508px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.aboutus .container .boxs img {
  right: 50%;
  bottom: 276px;
}
/*  */
/*  */
/*  */
/*  */
/*  */

.services {
  width: 100%;
  position: relative;
}
.services .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 58px 0 50px 0;
}
.services .container .groups {
  width: 1700px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.services .container .groups .mimigrounp {
  width: 385px;
  height: 504px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 30px;
  background-color: #fff;
  text-align: left;
}
.services .container .groups .mimigrounp .text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services .container .groups .mimigrounp h4 {
  color: #c98a40;
  font-size: 16px;
  font-weight: 900;
}
.services .container .groups .mimigrounp p {
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.services .container .top_title4 {
  color: #c98a40;
}
/*  */
/*  */
/*  */
/*  */

.testymonials {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c98a40;
}
.testymonials .container {
  position: relative;
  padding: 86px 0 50px 0;
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("img/Mask\ Group\ \(7\).png");
}
.testymonials .container .top_title4 {
  color: #fff;
}
.testymonials .container .boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1500px;
  gap: 45px;
}
.testymonials .container .boxs .rectangle2 {
  padding: 30px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  width: 577px;
  height: 233px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.testymonials .container .boxs .rectangle2 .group_stars img {
  cursor: pointer;
}
.testymonials .container .boxs .rectangle2 .text {
  width: 423px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.testymonials .container .boxs .rectangle2 .text h4 {
  color: #c98a40;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.testymonials .container .boxs .rectangle2 .text p {
  width: 423px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
/*  */
/*  */
/*  */
/*  */

.contactus {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactus .container {
  padding: 0 0 50px 0;
  width: 1200px;
  height: 538px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contactus .container .box .top_title4 {
  margin: 50px 0 50px 0;
}
.contactus .container .box .top_title4 h1 {
  color: #c98a40;
}
.contactus .container .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  height: 648px;
  padding: 0 0 50px 0;
}
.contactus .container .box .inputbox {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}
.contactus .container .box .inputbox input {
  width: 374px;
  height: 56px;
  border-radius: 61px;
  border: 3px solid #ffd39f;
  background-color: #ffd39f;
  outline: none;
  color: #fff;
}
.contactus .container .box .inputbox .submit {
  width: 168px;
  height: 56px;
  background: none;
  border: 3px solid #c98a40;
}
.contactus .container .box .contacts {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.contactus .container .box .contacts .contact {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.contactus .container .box .contacts .contact p {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}
/*  */
/*  */
/*  */
/*  */
/*  */
.bottom {
  background: #584125;
  width: 100%;
  height: 117px;
}
