.p1{
	color: white;
	text-shadow: 15px 50px 0 black;
}
.p2 {
	color: white;
	text-shadow: 25px 25px 2px rgb(78, 255, 0) ;
}
.lorem {
	transition: 0.1s;
	color: white;
}
.lorem:hover {
	color: white;
	text-shadow:10px 0 2px blue, 200px 0 2px green ;
}
.lorem2 {
	transition: 0.1;
	color: white;
}
.lorem2:hover {
	color: white;
	text-shadow: 30px -100px 2px darkred, 180px -100px 2px blue;
}