@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Iceland&family=Montserrat:wght@100&family=Open+Sans&family=Oswald:wght@200&family=Poppins:wght@600&family=Reem+Kufi+Fun:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  block-size: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: url(Rectangle\ 227.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.incontainer {
  width: 100%;
  max-width: 1437px;
  position: relative;
}
.container .body_box {
  width: 100%;
  height: 900px;
  background: url(bg.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding: 0 0 57px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container .rectagle1 {
  width: 100%;
  height: 150px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos {
  position: absolute;
  left: 50px;
}
.container .logos a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.container .logos a img {
  width: 37px;
  height: 64px;
}
.container .logos a .logo {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.container .rectagle1 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  transform: translateX(300px);
}
.container .rectagle1 ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.right_icon {
  cursor: pointer;
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.container .rectagle1 .red_icon {
  font-size: 8px;
  width: 10px;
  color: #fff;
  height: 10px;
  padding: 1px;
  border-radius: 10px;
  background: url("Ellipse\ 1\ \(1\).png") no-repeat;
  background-size: cover;
  background-position: center;
}
.container .rectegle2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 50px;
}
.container .rectegle2 .box_aboute {
  color: #fff;
}
.container .rectegle2 .box_aboute h3 {
  font-size: 40px;
  font-weight: 400;
}
.container .rectegle2 .box_aboute h1 {
  font-size: 64px;
  font-weight: 700;
}
.container .rectegle2 p {
  width: 400px;
  color: #31546d;
  font-size: 16px;
  font-weight: 400;
}
.container .rectegle2 .btns button {
  cursor: pointer;
  width: 180px;
  height: 56px;
  margin: 0 40px 0 0;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 700;
  color: #317189;
  background-color: #fff;
  box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.17);
}
.container .rectegle2 .btns span {
  font-size: 16px;
  font-weight: 400;
  color: #317189;
}
.container .drop_img_box {
  position: absolute;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .drop_img_box .line {
  margin: 50px;
  cursor: pointer;
}
.container .img_box {
  width: 569px;
  height: 554px;
  background-color: #fff;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 4px 50px 0px rgba(120, 143, 156, 0.25);
}
.container .img_box button {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 97px;
  height: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #8a93e5;
  border: none;

  transform: translateY(-250px);
}
.container .img_box img {
  width: 362px;
  height: 362px;
  transform: translateY(50px);
}
.container .img_box p {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 50px;
  font-size: 20px;
  font-weight: 400;
  color: #818181;
}
.container .img_box p span {
  color: #317189;
  font-size: 20px;
  font-weight: 700;
}

.container .sroll {
  cursor: pointer;
  width: 121px;
  height: 38px;
  position: absolute;
  left: calc(50% - 121px / 2);
  bottom: 0;
}
.all_prodact {
  width: 100%;
  height: 1084px;
  padding: 60px 0 20px 0;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.all_prodact .title_all_prodact {
  font-size: 46px;
  font-weight: 700;
  color: #31546d;
  text-align: center;
  margin: 50px;
}
.all_prodact .inputs {
  margin: 50px 0 50px 10px;
  display: flex;
  flex-wrap: nowrap;
}
.all_prodact .inputs .input_s {
  cursor: pointer;
  margin: 0 100px 0 50px;
}
.all_prodact .inputs .input_s label {
  cursor: pointer;
  color: #9ab0c0;
  font-size: 16px;
  font-weight: 700;
}
.all_prodact .inputs .input_s .select {
  cursor: pointer;
  outline: none;
  color: #31546d;
  font-size: 16px;
  font-weight: 700;
}
.all_prodact .inputs select {
  border: none;
}
.mini_boxs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.mini_boxs .mime_box {
  width: 322px;
  height: 412px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 30px;
  border: 2px solid var(--Gray-6, #f2f2f2);
  transition: all 0.5s;
}
.mini_boxs .mime_box:hover {
  box-shadow: 0 0 10px 0 #000;
}
.mini_boxs .mime_box img {
  width: 198px;
  height: 198px;
}
.all_prodact .mini_boxs .mime_box p {
  width: 270px;
  color: #31546d;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.all_prodact .mini_boxs .mime_box p span {
  color: #317189;
  font-size: 20px;
  font-weight: 700;
}
.all_prodact .mini_boxs .mime_box button {
  width: 180px;
  cursor: pointer;
  height: 56px;

  border-radius: 18px;
  background-color: #fff;
  transition: all 0.5s;
  border: 3px solid #75cceb;
  color: #75cceb;
  font-size: 14px;
  font-weight: 700;
}
.all_prodact .mini_boxs .mime_box button:hover {
  color: #fff;
  background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
  box-shadow: 0px 10px 25px 0px rgba(112, 184, 251, 0.45);
}
.veiw_all {
  width: 100%;
  height: 1100px;
  position: relative;
  background: url(bacddd.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.inbcd {
  width: 100%;
  height: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.veiw_all .veiw {
  cursor: pointer;
  width: 134px;
  height: 48px;
  background-color: #fff;
  border: 2px solid var(--1, #75cceb);
  border-radius: 18px;
  position: absolute;
  top: 50px;
  left: calc(50% -134px / 2);
}
.veiw_all h1 {
  width: 542px;
  font-size: 40px;
  font-weight: 400;
  color: #31546d;
}
.veiw_all .veiw_all_aboute h1 span {
  font-size: 64px;
  font-weight: 700;
}
.veiw_all_aboute {
  width: 542px;
  height: 348px;
  text-align: right;
  display: flex;
  justify-content: right;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 40px;
}
.veiw_all .numbers {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: right;
  gap: -50px;
}

.veiw_all .numbers p {
  color: #41a0b7;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  text-decoration-line: line-through;
}
.veiw_all_aboute .numbers h1 {
  width: 216px;
  color: #e35b3e;
  font-size: 70px;
  font-weight: 700;
  display: inline-block;
}
.veiw_all_aboute .pop {
  width: 400px;
  color: #31546d;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}
.veiw_all_aboute button {
  cursor: pointer;
  border: none;
  width: 180px;
  height: 56px;
  padding: 10px;
  border-radius: 18px;
  background: linear-gradient(90deg, #75cceb 0%, #6fb4ff 100%);
  color: #fff;
  text-align: center;
  font-family: Google Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.bag_bcd {
  width: 45%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50px);
}
.veiw_all .bag_bcd {
  background: url(./bcdbcd.png);
}
.container .bottom {
  width: 100%;
  height: 200px;
  background-color: #31546d;
}
