* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav {
	width: 100%;
	background-color: red;
/*	padding: 0 10px;*/
}

.bosh {
	background-color: green;
	padding: 12px 16px;
	display: inline-block;
	color: #000;
	text-decoration: none;
	transition: all 0.3s;
}
.dropdown {
	position: relative;
	cursor: pointer;
}

.dropdown .drop-content {
	z-index: 5;
	position: absolute;
	left: 0px;
	top: -4px;
	width: 150px;
	height: auto;
	background-color: yellow;
	opacity: 0;
	transition: 0.3s;
	visibility: hidden;
	list-style: none;
}
.dropdown:hover .drop-content {
	z-index: 5;
	position: absolute;
	left: 0;
	top: 45px;
	width: 150px;
	height: auto;
	background-color: yellow;
	opacity: 1;
	visibility: visible;
	z-index: 1;
}
 .dropdown .drop-content a {
	display: block;
	text-decoration: none;
	text-transform: capitalize;
}
.dropdown .drop-content a:hover {
	background-color:  dodgerblue;
	color: #fff;
}

.drop-content li:hover {
	background-color: #00f;
}

.drop {
	position: relative;
	width: 150px;
}

.title{
	display: block;
	padding: 5px;
}

.drop-2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	height: auto;
	background-color: yellow;
	opacity: 0;
	transition: 0.3s;
	visibility: hidden;
	background: #0f0;
	z-index: -5;
}

.drop-2 a {
	padding: 5px;
	display: block;
	width: 100%;
}

.drop:hover .drop-2 {
	position: absolute;
	left: 150px;
	opacity: 1;
	visibility: visible;
}
 .drop-2:hover + a {
	background-color: blue;
}

