@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Iceland&family=Montserrat:wght@100&family=Open+Sans&family=Oswald:wght@200&family=Poppins&family=Reem+Kufi+Fun:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  block-size: border-box;
  background-color: #50b2ea;
}
.top {
  width: 100%;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(bacd.png) no-repeat;
  background-size: 100% 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.top .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 150px;
}
.top .container .logo a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .container .logo .link_img {
  margin: 10px;
}
.top .container .logo h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 104.5%;
  text-transform: uppercase;
}
.top .container .logo h1 span {
  font-size: 32px;
  font-weight: 700;
  line-height: 104.5%;
  letter-spacing: 22.4px;
}
.top .container .board_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.top .container .board_body p {
  width: 520px;
  text-align: center;
  color: #fff;
  font: 14px 600;
  line-height: 22px;
}
.top .container .board_body .btns {
  display: flex;
  flex-wrap: nowrap;
  gap: 130px;
}
.top .container .board_body .btns .btn h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 22px;
}
.top .container .board_body .help_btn {
  cursor: pointer;
  width: 192px;
  height: 62px;
  border: none;
  border-radius: 10px;
  background-color: #50b2ea;
  box-shadow: 0px 20px 40px 0px rgba(129, 209, 255, 0.2);
  font-size: 18px;
  color: #fff;
}
.lorem {
  width: 100%;
  background-color: #fff;
  z-index: -11;
  position: relative;
}
.lorem .container {
  position: relative;
  width: 100%;
  height: 763px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.lorem .container .box {
  width: 1199px;
  height: 512px;
  border: 4px solid #f2f2f2;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  border-radius: 40px;
}
.lorem .container .box .text_box {
  padding: 68px 77px 85px 45px;
  width: 640px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #50b2ea;
}
.lorem .container .box .text_box h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.lorem .container .box .text_box h4 {
  width: 520px;
  font-size: 14px;
  font-weight: 400;
  color: #19435a;
}
.lorem .container .box .text_box .input input {
  border-radius: 50px;
}
.lorem .container .box .text_box .input label {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.lorem .container .box .image {
  width: 559px;
  height: 509px;
  position: relative;
}
.lorem .container .help_btn {
  cursor: pointer;
  width: 160px;
  height: 54px;
  border-radius: 10px;
  box-shadow: 0px 20px 20px 0px rgba(129, 209, 255, 0.2);
  background: #50b2ea;
  border: 2px solid #fff;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.lorem .container > .rightbcd {
  position: absolute;
  width: 48.2%;
  height: 100%;
  background: #50b2ea;
  top: 0;
  right: 0;
  z-index: -1;
}
.services {
  width: 100%;
  height: 604px;

  justify-content: center;
  align-items: center;
}
.services .container {
  height: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.services .container .sevices_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.services .container .sevices_top h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.services .container .sevices_top .link_imgs {
  display: flex;
  gap: 82px;
  padding: 0 0 30px 0;
}
.services .container .sevices_top .link_imgs img {
  width: 180px;
  height: 180px;
}
.services .container .sevices_bottom {
  width: 100%;
  height: 284px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  gap: 50px;
}
.services .container .sevices_bottom .link_texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 81px;
}
.services .container .sevices_bottom .link_texts h4 {
  width: 150px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #19435a;
}
.services .container .sevices_bottom .link_texts h4 a {
  text-decoration: none;
  color: #50b2ea;
  font-size: 18px;
  font-weight: 700;
}
.services .container .services_help_btn {
  cursor: pointer;
  width: 160px;
  height: 54px;
  border: 2px solid #fff;
  border-radius: 10px;
  background: #50b2ea;
  box-shadow: 0px 20px 20px 0px rgba(129, 209, 255, 0.5);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.testymonials {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testymonials .container {
  position: relative;
  padding: 50px;
  width: 100%;
  height: 718px;
  display: flex;
  gap: 46px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.testymonials .container .title {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.testymonials .container .boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1500px;
  gap: 50px 30px;
}
.testymonials .container .boxs .rectangle2 {
  padding: 30px;
  background-color: #fff;
  border-radius: 40px;
  width: 577px;
  height: 233px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  box-shadow: 0px 20px 20px 0px rgba(129, 209, 255, 0.2);
}
.testymonials.container .boxs .rectangle2 .img {
  width: 80px;
  height: 100%;
}
.testymonials .container .boxs .rectangle2 .text {
  width: 423px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.testymonials .container .boxs .rectangle2 .text h4 {
  color: #50b2ea;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.testymonials .container .boxs .rectangle2 .text p {
  width: 423px;
  color: #19435a;
  font-size: 14px;
  font-weight: 400;
}
.contact {
  width: 100%;
  height: 520px;
  background-color: #fff;
}
.contact .container {
  width: 100%;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.contact .container h1 {
  color: #50b2ea;
  font-size: 48px;
  font-weight: 700;
}
.contact .container .input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}
.contact .container .input input {
  outline: none;
  color: #fff;
  padding: 10px;
  border: none;
  width: 370px;
  height: 64px;
  border-radius: 40px;
  background: #50b2ea70;
}
.contact .container .input button {
  outline: none;
  color: #fff;
  padding: 10px;
  border: none;
  width: 148px;
  height: 64px;
  border-radius: 40px;
  background: #50b2ea;
}
.bottom {
  width: 100%;
  height: 80px;
  background-color: #19435a;
}
