/* 
	width-kenglik
	kenglikda o'lcham berish usullari
	1-(o'pincha ishlatiluvchilar)px, %
	2-( kam ishlatiluvchilar)pt, vw, cm, rem, em 

	height-balandlik
	1-(ko'p ishlatiluvchilar) px, %, vh,
	2-(kam ishlatiluvchilar) vw, pt, cm, rem, em

	vw-viewport-width
	vh-viewport-height

	calc()- kalkuliyator
 */

.kenglik {
	width:calc(100%/3);
	border: 1px solid;
}

.balandlik {
	width: 50%;
	margin-top: 1%;
	height: 50vh;
	border: 1px solid;
}